header, main, footer {
  padding-left: 300px;
}
.hidden {
  display: none;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
  .hidden{
    display: inherit;
  }
}

main {
  margin: 5vh 5vw;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2000;
}

body {
  background-image: url('http://i.imgur.com/OmcVRuq.png');
  background-size:  auto;
  font-family: 'Russo One', sans-serif;
}
.side-nav{
  background-color: transparent;
}
h2, h3 {
  text-align: center;
}
.card {
  margin: 20px auto;

}
.userView {
  background-image: url('../imgs/headshot.jpeg');
  background-size: cover;
  height: 40vh;
  width: 100%;
}
li, .card{
  color: black;
  background-image: url('http://i.imgur.com/rIRHtyY.png');
}

.name {
  position: absolute;
  left: 10px;
  bottom: 5px;
  width: 100%;
  text-align: justify;
}
p {
  font-family: 'Open Sans', sans-serif;
  padding: 15px 0;

}
.list, .cardList {
    font-size: 1.4em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: baseline;
}
.cardList {
  margin: 0;
}
.navs  {
  display: flex;
  justify-content: space-around;
}
.skill-header {
  text-align: center;
  width: 100%;
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.8);
}
.skills {
  margin: 5px auto;
  border: 2px solid black;
  width: 80%;
  color: rgba(0, 0, 0, 0.8);
}
.aboutMe {
  text-align: center;
  width: 90%;
  margin: auto;
  font-weight: lighter;
}
.fa-2x {
  min-width: 35px;
}
.fa {
  color: black;
}
.right {
  line-height: 100%;
  vertical-align: middle;
}
li {
  color: rgba(0,0,0,0.54);
}
.navLink {
  border: 3px solid white;
}
